<div class="container">
  <h1>Web Logger </h1>
  <h4>The hottest technology of 1996</h4> 

    <div class="tag_search"> 
      <form action='/tag'  method="post">   
        <h3>Show me all the posts tagged with...</h3>
        <select name="tagname">
          <% Tag.order("updated_at DESC").each do |tag| %>
          <option><%= tag.name %></option>
          <% end %>
        </select>
        <input class="button" type="submit" value="Search">
      </form>
    <div>

  <h1>All Posts</h1>    
  <a href="/create"> <input class="button" type="submit" value="Create new post"></a>
  <h4>Ordered by created date, decending. </h4>
    <% Post.order("created_at DESC").each do |post| %>
      <a href="/post/<%= post.id %>" id="post_preview" >>>> <%= post.title %></a><br>
      by: <%= post.author %>, Date: <%= post.created_at %><br>
      <div id="all_posts"><%= post.body %></div>
    <% end %>


</div>

