<div class="container">
  <h1>All Posts</h1>
  <h4>Ordered by created date, decending. </h4>
  
  
    <% Post.order("created_at DESC").each do |post| %>
      <a href="/post/<%= post.id %>" id="post_preview" >>>> <%= post.title %></a><br>
      by: <%= post.author %>, Date: <%= post.created_at %><br>
      <div id="all_posts"><%= post.body %></div>
    <% end %>

  <a href="/"><input class="cancel_button" type="submit" value="Home"></a>

</div>



